@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$font-family-base: Exo, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// colors
$bright-blue: #0e86ca;
$golden: #ffd255;

$theme-colors: (
  "primary": $bright-blue,
  "golden": $golden
);

// Body
//
// Settings for the `<body>` element.
$body-bg: #141414;
$body-color: var(--white);

// Links
//
// Style anchor elements.
$link-color: var(--white);
$link-decoration: none;
$link-hover-color:  $gray-400;
$link-hover-decoration: none;